[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
numpy = "*"
keras = "==2.15"
tensorflow = "==2.15"
requests = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
